.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 1;
  display: flex;
  height: 100%;
}

.main h1 {
  font-weight: 800;
  font-size: 64px;
}

.main section {
  width: 100%;
  height: 100%;
  max-width: 1240px;
  background: var(--fg);
  border-radius: 80px 80px 0 0;
  gap: 30px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: 300px;
}

.main button {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 45px 30px;
  background: var(--bg);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all linear 200ms;
}

.main button:hover {
  box-shadow: 0 20px 30px #00000033;
}

.main button:hover img {
  scale: 1.1;
}

.main button * {
  z-index: 1;
}

.main img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  transition: all linear 200ms;
}

.course p {
  font-size: 16px;
}

.course p:first-child {
  font-weight: 600;
}

.course h2 {
  font-weight: 800;
  font-size: 40px;
}

.add h2 {
  color: var(--fg);
  font-weight: 800;
  font-size: 36px;
}

.add p {
  color: var(--fg);
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background: var(--bg);
  font-weight: 800;
  font-size: 96px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
}
